@import url('https://fonts.google.com/specimen/Red+Hat+Display');

*{
    box-sizing: border-box;
}

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body {
    background-image: url('/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Pale-blue);
    font-family: RedHatDisplay, sans-serif;
    
}

/* Styling the summary container */

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    width: 500px;
}


/* Order Summary section */

.order-summary {
    background-color: white;
    height: 30em;
}

.summary-content{
    margin: 2em 3em;
    height: 25em;
}

.order-summary h2{
    font-weight: 900;
    font-size: 1.75em;
    
}

.order-description p{
    color: var(--Desaturated-blue);
    font-size: 1.2em;
}

.order-price{
    background-color:var(--Very-pale-blue);
    border-radius: 10px;
    height: 5.5em;
    display: flex;
    margin-top: 2em;
}

.order-price img{
    margin: 1em;
}

.order-price p{
    margin: 1em;
}

.text-highlight{
    font-weight: 800;
}

.price{
    color: var(--Desaturated-blue);
}

.order-price a{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 6em;
    color: var(--Bright-blue);
    font-weight: 700;
}

/* Buttons */

.buttons{
    width: 100%;
    border-radius: 10px;
    height: 4em;
    font-weight: 700;
    font-size: 1em;
}

.pay{
    background-color: var(--Bright-blue);
    color: white;
    margin-top: 3em;
}

.cancel{
    background-color: white;
    border: 0;
    margin-top: .5em;
}

.buttons:hover{
    opacity: 0.75;
    cursor: pointer;
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Query */

@media screen and (max-width : 600px) {
    .container{
        width: 450px;
    }

    .order-summary{
        height: 32em;
    }

    .order-price a{
        margin-left: .5em;
    }

    .buttons{
        font-size: 1.1em;
    }

}